SOCKET_IO_SERVER=http://localhost:8080

PORT=3000
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=ERPplatform_database
DB_CONNECTION_LIMIT=10

JWT_SECRET=jwt_secret_key_of_hiep
JWT_EXPIRES_IN=1d